/* Font Declare Start */
*azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  /* Font Declare End */

  /*  NAV Start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin: 38px ; */

}
.nav-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    padding-right: 800px;

}

nav ul li{
    list-style: none;
}

.nav-button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    width: 228px;
    height: 58px;
    /* left: 1046px; */
    /* top: 38px; */
}
    /* NAV Style End */

    /* Header Style Start */
.header-container{
    /* width: 1440px;
    height: 652px;
    border: 2px auto red;
    margin: 0 auto; */
    
}

.banner-content{
    width: 1320px;
    height: 600px;
    border: 2px solid red;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/Hero-bg.png);
}

.banner-img{
    position: absolute;
    width: 240.28px;
    height: 240px;
   padding-bottom: 300px;
}

.banner-content H1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-top: 272px;
    
}

.banner-content P{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
}

.btn1{
    width: 250px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}
    /* Header Style End */

.web-dev{
    width: 946px;
    height: 1235px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 154px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(13, 19, 33, 0.02)
}

.web-dev h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.web-dev p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
}

.fist-dev{
    width: 946px;
    height: 336px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;

}

.fist-dev h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}

.fist-dev p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    padding-right:165px;
    text-align: left;
}

.btn2{
    width: 150px;
    height: 48px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

.second-dev{
    width: 946px;
    height: 336px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding:20px; */

}

.second-dev h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}
.second-dev p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    /* padding-right:165px; */
    text-align: left;
}

.third-dev{
    width: 946px;
    height: 336px;
    /* border: 2px solid red; */
    margin: 0 auto;  
    margin-top: 20px;
    display: flex;
    padding:20px;
}

.third-dev h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}
.third-dev p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    padding-right:165px;
    text-align: left;
}
